package pages

import "github.com/labstack/echo/v4"

func BlogSlugGET(c echo.Context, slug string) (string, error) {
	return slug, nil
}

templ BlogSlug(slug string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>Blog Post: { slug }</title>
		</head>
		<body>
			<h1>Blog Post: { slug }</h1>
			<p>This is a dynamic blog post page with slug: { slug }</p>
		</body>
	</html>
}
